body{
    width: 100%;
    margin: auto;
}
#logo{
    margin-top: 0%;
    background-image: url(logo.png);
    background-repeat:no-repeat;
    width: 100%;
    height: 395px;
}
a{
    text-decoration: none; 
}
#top{
    padding-top: 1.2%;
    width: 28.2%;
    height: 69px;
    margin-left:51.5%;
}
#underlining{
    margin-top:7.5%;
    height: 25.8px;
    border-bottom: 3px solid rgb(188,158,202);
    width: 8%;

    text-align: center;
    color:white;
    font-size: 9pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scaleY(1.8);
    display: inline-block;
}
#top a:hover{
    border-bottom: 3px solid rgb(188,158,202);
    height: 33px;
}
#top a:active{
    border-bottom: 3px solid white;
}
#triangle{
    text-align: center;
    color:white;
    font-size: 9pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scaleY(1.8);
    display: inline-block;
    height: 20px;
}
#triangle::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1.1px;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 3.5px solid rgb(188,158,202);
    z-index: 10;
}
ul{
    display:flex;
    list-style: none;
    gap:30px;
    margin-top:0%;
    margin-left:0%;
    padding-left:0px;
    width: 100%;
}
span{
    position: absolute;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    margin-top:0.8%;
    margin-left:-0.1%;
}
#k{
    margin-top:2.3%;
    margin-left:1.3%;
}
.section{
    color:white;
    font-size: 9pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scaleY(1.8);
    display: inline-block;
}
#SignIn{
    width: 4.6%;
    height: 32px;
    margin-top: -4.9%;
    margin-left:80%;
}
#buttons{
    width: 7%;
    margin-left:22%;
    margin-top:21.3%; 
}
#buttons a:hover{
    content:url(button_selected.png) ;
}
#content{
   margin-top:6%; 
   width: 60.9%;
   height: 600px;
   margin-left:23.5%;
}
#definition{
    width:99%;
    color:rgb(147,94,170);
    font-size: 16pt;
    line-height: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scaleY(1.8);
    display: inline-block;
}
.text{
    margin-top:6%;
    width:75%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    font-size:9.1pt;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scaleY(1.8);
    display: inline-block;
}
#narrow{
    line-height: 16px;
}
#LoginForm{
    width: 21.8%;
    height: 300px;
    margin-left:78%;
    margin-top:-39%;
}
h3{
    margin-top:10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: scaleY(1.8);/*в 1.8 раз выше*/
    display: inline-block;/*обязательно для transform*/     
}
#line{
    margin-top:-22px;
}
form{
    margin-top:-8%;
}
button {
    width: 50%;
    height: 33px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-size: 15px;
    cursor: pointer;
    background-image: linear-gradient(to top, rgb(238,238,238), white);
}
#gray{
    color:rgb(114, 116, 112);
    margin-top:15%;
}
#new{
    margin-top:-3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:9.1pt;
}
#now{
    margin-top:-5%;
    margin-left:-2%;
}



